---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Footer } from '../components/Footer';
import { BlogPost } from '../components/BlogPost';

const allPosts = await Astro.glob("./posts/*.md");

---

<Layout title="Blog">
	<main  class="grid place-items-center gap-4">
		<Header />
		<div class="grid gap-4">
			<h2 class="font-sans text-2xl antialiased font-bold">Posts</h2>
			{
				allPosts.reverse().map((post) => 
					 <BlogPost
					 	key={post.url!}
						title={post.frontmatter.title}
						pubDate={post.frontmatter.pubDate}
						description={post.frontmatter.description}
						link={post.url}
					/>
				)
			}
		</div>
		<Footer />
	</main>
</Layout>

