---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Hero } from '../components/Hero';
import { Footer } from '../components/Footer';
import { BlogSection } from '../components/BlogSection';

const allPosts = await Astro.glob("./posts/*.md");

const latestPosts = allPosts.map((post) => {
	return { ...post };
}).reverse().slice(0, 2);
---
<Layout title="Bruno G. Dias">
	<main>
		<Header></Header>
		<Hero></Hero>
		<BlogSection
			posts={latestPosts}
		/>
		<Footer></Footer>
	</main>
</Layout>
