---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Hero } from '../components/Hero';
import { Footer } from '../components/Footer';
import { PostsSectionHome } from '../components/PostsSectionHome';

const allPosts = await Astro.glob("./posts/*.md");

const latestPosts = allPosts.map((post) => {
	return { ...post };
}).reverse().slice(0, 2);
---
<Layout title="Bruno G. Dias">
	<main>
		<Header></Header>
		<Hero></Hero>
		<hr class="border-transparent bg-white border-1 my-10" />
		<PostsSectionHome
			posts={latestPosts}
		/>
		<!-- <hr class="border-transparent bg-white border-1 mt-10" /> -->
		<Footer></Footer>
	</main>
</Layout>
