---
import Layout from '../layouts/Layout.astro';
import { Header } from '../components/Header';
import { Hero } from '../components/Hero';
import { Footer } from '../components/Footer';
import { BlogSection } from '../components/BlogSection';

---

<Layout title="Bruno G. Dias">
	<main>
		<Header></Header>
		<Hero></Hero>
		<BlogSection></BlogSection>
		<Footer></Footer>
	</main>
</Layout>
