---
import Layout from "../layouts/Layout.astro";
import { Header } from "../components/Header";
import { Footer } from "../components/Footer";
import { PostsSectionHome } from "../components/PostsSectionHome";

const allPosts = await Astro.glob("./posts/*.md");

const latestPosts = allPosts
  .map((post) => {
    return { ...post };
  })
  .reverse()
  .slice(0, 2);
---

<Layout title="Bruno G. Dias">
  <main class="mx-auto my-10 max-w-3xl px-5">
    <Header />
    <PostsSectionHome posts={allPosts.reverse()} />
    <Footer />
  </main>
</Layout>
